@font-face {
    font-family: f1;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: f2;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: a2;
    src: url(../font/Anybody-ExtraExpandedSemiBold.woff);
}