
.title {
    font: 32px f2 !important;
    margin: 40px 0;
}

.title h1,
.title h2,
.title h3,
.title h4 {
    font: 32px f2 !important;
}

.title-center {
    text-align: center;
}

.title-left {
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .title h1,
    .title h2,
    .title h3,
    .title h4 {
        padding: 0 20px;
        font: 24px f2 !important;
    }
}