
@import url(../font.css);
@import url(login.css);
@import url(sidebar.css);
@import url(content.css);

:root {
    --color1: #f2f2f2;
    --color1-2: #f2f2f250;
    --color1-3: #f2f2f220;
    --color1-4: #f2f2f210;
    --color2: #252525;
    --color2-2: #25252550;
    --color2-3: #25252520;
    --color2-4: #25252508;
    --color2-5: #25252505;
    --color3: #da2d2d;
    --color4: #e46f0f;
    --color4-2: #a7520d;
    --mw1: 1366px;
    --mw2: 1000px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: f1;
    background: var(--color2);
}

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    max-width: 100%;
}

.display-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .display-mobile {
        display: block;
    }
}